<div class="container container-form">
  <div class="form-box">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= simple_form_for @cocktail do |f| %>
        <% if @cocktail.errors.any? %>
        <div id="error-explanation">
          <ul>
            <% @cocktail.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <%= f.input :name, label: 'Cocktail Name', placeholder: 'Margarita', class: "form-control" %>
        <div id="doses">
          <%=  f.simple_fields_for :doses do |dose|%>
          <%= render 'dose_fields', f: dose %>
          <% end %>
          <div class="links">
           <%= link_to_add_association 'add dose', f, :doses, class: "btn btn-danger btn-add"%>
         </div>
         <%= f.input :photo, class: "form-control" %>
         <%= f.input :photo_cache, as: :hidden %>
       </div>
       <%= f.submit %>
       <% end %>
     </div>
   </div>
 </div>
</div>
